body {
    margin: 0;
}
.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    float: left;
    background-color: black;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    padding-top: 50px;
    transition: 0.5s;
    left: 0;
}
.sidebar a {
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    text-align: center;
    transition: 0.3s;
    margin: 5px;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
}
.sidebar a:hover {
    color: gray;
}
span {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 150px;
}
span:hover {
    color: gray;
}